<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/release-tools/src/isf/module/BuildModule.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="isf.module.BuildModule"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="clinical"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="release-tools"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Disf.svn.root.dir=${ISF_SVN_ROOT}&#13;&#10;-Djava.library.path=&quot;${project_loc}/lib/FaCT++-win-v1.6.2/64bit;${env_var:PATH}&quot;"/>
</launchConfiguration>
